<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.kh.moving.reservation.model.mapper.ReservationMapper">
  <!-- 예매 정보 INSERT (RESERVATION_STATUS 제거, DEFAULT 값 사용) -->
    <insert id="insertReservation" parameterType="com.kh.moving.reservation.model.dto.ReservationDTO">
        <selectKey keyProperty="reservationId" resultType="long" order="BEFORE">
            SELECT RESERVATION_SEQ.NEXTVAL FROM DUAL
        </selectKey>
        
        INSERT INTO TB_RESERVATION (
            RESERVATION_ID,
            USER_NO,
            MOVIE_ID,
            SCREENING_ID,
            RESERVATION_DATE
        ) VALUES (
            #{reservationId},
            #{userNo},
            #{movieId},
            #{screeningId},
            SYSDATE
        )
    </insert>
    
    
    <!-- 예매 좌석 정보 INSERT -->
    <insert id="insertReservationSeat" parameterType="com.kh.moving.reservation.model.dto.ReservationSeatDTO">
        INSERT INTO TB_RESERVATION_SEAT (
            SEAT_ID,
            SEAT_NUMBER,
            RESERVATION_ID
        ) VALUES (
            RESERVATION_SEAT_SEQ.NEXTVAL,
            #{seatNumber},
            #{reservationId}
        )
    </insert>
  
  
  
  
  
  
  
  
  
  
  </mapper>