<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	  	<settings>
	 		<setting name="jdbcTypeForNull" value="NULL"/>
	  	</settings>
		<typeAliases>
        <typeAlias alias="NoticeDTO" type="com.kh.moving.notice.model.dto.NoticeDTO" />

        <typeAlias alias="MemberDTO" type="com.kh.moving.member.model.dto.MemberDTO" />
    </typeAliases>
		
		<!-- environments,dataSource =>DB연결정보를 원래 적어야 함 -->
		<!-- Bean등록  1 -->
		  
	  <mappers>
	  	 <mapper resource ="/mapper/member-mapper.xml"/>
	  	<!-- 
	    <mapper resource ="/mapper/board-mapper.xml"/>
	  	 -->
	  	 <mapper resource="/mapper/notice-mapper.xml"/>
	  </mappers>
	  
</configuration>